/* 🔹 Базовые стили */
* { box-sizing: border-box; margin: 0; padding: 0; }

:root {
    --primary-color: #2563eb;      
    --secondary-color: #1e3a8a;    
    --text-color: #333;            
    /*--bg-gradient: linear-gradient(180deg, #ffffff 0%, #cce7ff 100%);  Белый -> голубой */
    --bg-image: url("../images/more/photoFon.jpg");
    --overlay-gradient: linear-gradient(rgba(240,240,240,0.1), rgba(180,210,230,0.1));
    --border-radius: 12px;
    --font-heading: 'Playfair Display', serif; /* Для заголовков */
    --font-body: 'Merriweather'; /* Для основного текста */
}

body {
    /*font-family: 'Arial';*/
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--font-body); /* Применяем шрифт для всего тела */

    /*background: var(--bg-gradient), url("https://www.transparenttextures.com/patterns/clouds.png");*/
    background: var(--overlay-gradient), var(--bg-image), url("https://www.transparenttextures.com/patterns/clouds.png");
    background-attachment: fixed;
    background-size: cover;  
}

/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 700; /* Playfair Display Bold */
}